---
layout: base.njk
title: Home
---

<div class="home">
  {%- set currentDate = "" -%}
  {%- for post in collections.posts -%}
    {%- set postDate = post.date | readableDate -%}
    {%- if postDate != currentDate -%}
      {%- set currentDate = postDate -%}
      <h2 class="date-header">{{ postDate }}</h2>
    {%- endif -%}
    {%- if post.data.title -%}
    <div class="post-item">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      <p class="post-excerpt">{{ post.templateContent | firstParagraph | safe }}</p>
    </div>
    {%- else -%}
    <div class="post-item post-item--untitled">
      <div class="post-content-inline">{{ post.templateContent | safe }}</div>
    </div>
    {%- endif -%}
  {%- endfor -%}
</div>
